table {
	table-layout:fixed;
}

.card-core {
	position: relative;
	height: 48px;
	width: 48px;
	border: 2px solid gold;
	background-color: grey;
	z-index: -10;
}

.card-left {
	position: absolute;
	left: 3px;
	top: 16px;
	z-index: -10;
}

.card-right {
	position: absolute;
	right: 3px;
	top: 16px;
	z-index: -10;
}

.card-down {
	position: absolute;
	bottom: 3px;
	left: 16px;
	z-index: -10;
}

.card-up {
	position: absolute;
	top: 3px;
	left: 16px;
	z-index: -10;
}

.card-rarity {
	position: absolute;
	left: 48px;
	top: 16px;
	z-index: -10;
}

.track-obtained {
	color: #000000;
}

.track-not-obtained {
	color: #D0D0D0;
}

.filter-on {
	background-color: #FF0000;
}

.filter-off {
	background-color: #00FF00;
}

.lr-sticky-header {
    color: black;
    background: white;
    transition: all 0.6s;
}

.tooltip-inner {
	white-space: pre-line;
}

.check-not-done {
	color: #000000;
}

.check-done {
	color: #00FF00;
}

.st-sort-ascent:before{
	content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}