<!DOCTYPE html>
<html ng-app="XIVTrack">
	<head>
		<link rel="stylesheet" type="test/css" href="format.css" />
		<script type="text/javascript" src="jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lrStickyHeader.js"></script>
		<script type="text/javascript" src="smart-table.js"></script>
		<script type="text/javascript" src="stStickyHeader.js"></script>
		<script type="text/javascript" src="ui-bootstrap.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="format.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	<body ng-controller="TableController as tableCtrl">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-brand">XIVTrack (Alpha Version)</div>
			<ul class="nav navbar-nav">
				<li ng-repeat="t in tabs" ng-class="navTabActive(t.id)"><a href="#" ng-click="setTab(t.id)">{{t.title}}</a></li>
				<li><a href="#" data-toggle="modal" data-target="#settingsModal">Settings</a></li>
			</ul>
			<div class="collapse navbar-collapse">
				<uib-progress>
						<uib-progressbar value="getNumObtained()" max="getMaxObtained()">{{getNumObtained()}} / {{getMaxObtained()}}</uib-bar>
				</uib-progress>
			</div>
		</nav>
		<table st-table="activeTab.data" class="table" st-sticky-header ng-repeat="activeTab in tabs" ng-if="tabActive(activeTab.id)">
			<thead>
				<tr>
					<th st-sort="obtained">Obtained?</td>
					<th>Icon</td>
					<th ng-repeat="column in activeTab.tableHeading" st-sort="{{column.toLowerCase()}}">
						{{column}}
					</th>
				</tr>
				<tr>
					<th colspan="3"><input st-search="name" class="form-control" placeholder="Search name..." type="text"/></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="checkFilter(item)" ng-repeat="item in activeTab.data | orderBy:sortType:reverseSort">
					<td ng-click="toggleObtained(item, activeTab)">
						<center><i class="fa fa-check track-not-obtained fa-2x" ng-hide="item.obtained"></i></center>
						<center><i class="fa fa-check track-obtained fa-2x" ng-hide="!item.obtained"></i></center>
					</td>
					<td>
						<img ng-src="icons/{{getItemImage(item, activeTab.prefix)}}.png" height="48" width="48" tooltip-placement="right" uib-tooltip="{{item.lore}}">
					</td>
					<td ng-repeat="column in activeTab.tableHeading">
						<div ng-if="column.toLowerCase() == 'name'">{{item[column.toLowerCase()]}} <img ng-repeat="i in getFlags(item)" ng-src="icons/system/icon_{{i}}.png"></div>
						<div ng-if="column.toLowerCase() == 'card'" class="card-core""><img class="card-left" ng-src="icons/system/card_{{getCard(item, 0)}}.png"><img class="card-up" ng-src="icons/system/card_{{getCard(item, 1)}}.png"><img class="card-down" ng-src="icons/system/card_{{getCard(item, 2)}}.png"><img class="card-right" ng-src="icons/system/card_{{getCard(item, 3)}}.png"><img class="card-rarity" ng-src="icons/system/card_rarity_{{item.rarity}}.png"></div>
						<div ng-if="column.toLowerCase() == 'source'"><img class="source" ng-src="icons/system/source_{{fixImgString(s.type)}}.png" tooltip-placement="right" uib-popover-template="'sourceTemplate.html'" popover-trigger="mouseenter" ng-repeat="s in item.activesources"></div>
						<script type="text/ng-template" id="sourceTemplate.html">
							<div><b>{{filterLibrary[s.type].name}}</b></div>
							<div>Info: {{s.info}}</div>
							<div>Location: {{s.location}}</div>
							<div ng-if="s.details != undefined">Details: {{s.details}}</div>
						</script>
						</td>
				</tr>
			</tbody>
		</table>
		
		<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="settingsModalLabel">Settings</h4>
					</div>
					<div class="modal-body">
						<div>
							<button type="button" class="btn btn-btnprimary" ng-model="$scope.filterObtained" uib-btn-checkbox>Obtained</button>
						</div>
						<div ng-repeat="f in filterLibrary">
							<button type="button" class="btn btn-btnprimary" ng-model="f.filtered" uib-btn-checkbox>{{f.name}}</button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>