.main {
	margin-top: 90px;
	margin-bottom: 10px;
	background-color: #eee;
	background-color: rgba(238,238,238,0.7);
}

.background {
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.centered {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

.import-input {
	width: 30%;
}

.disabled,
.disabled:focus,
.disabled:hover {
	color: lightgrey;
}

.navbar {
	border: none;
}

nav.navbar {
	box-shadow: 2px 1px 1px rgba(0,0,0,.5);
}

.navbar-brand {
	font-weight: bold;
	font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a {
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}

.navbar-default .navbar-tabs > li > a:focus,
.navbar-default .navbar-tabs > li > a:hover,
.navbar-default .navbar-tabs > li.active > a,
.navbar-default .navbar-tabs > li.active > a:focus,
.navbar-default .navbar-tabs > li.active > a:hover {
	background-color: #337AB7;
	color: #fff;
}

.navbar-default .navbar-filter > li > a:focus,
.navbar-default .navbar-filter > li > a:hover,
.navbar-default .navbar-filter > li > a:not(.collapsed) {
	background-color: #337AB7;
	color: #fff;
}

.navbar-right {
	margin-right: 5px;
}

.progress {
	background-color: grey;
	border-radius: 0px;
	margin: 0px;
}

.progress-bar-custom {
	background-color: black;
}

.progress-bar span {
	padding-left: 6px;
	padding-right: 6px;
	cursor: default;
}

.btn,
.btn.btn-danger {
	border-radius: 3px;
}

.btn-btnprimary {
	border-color: black;
	border: 1px solid;
}

.btn-wide {
	width: 100%;
}

.filter-header {
	text-align: center;
}

.setting-text {
	vertical-align: middle;
}

body {
	background-color: #efefef;
}

footer.footer {
	padding: 20px 0;
	background-color: #efefef;
	text-align: center;
}

table {
	margin-top: 15px;
	border: 2px solid #ddd;
}

tr {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
}

table > thead > tr {
	background-color: rgba(248,248,248,0.7);
}

table > tbody > tr {
	background-color: rgba(248,248,248,0.7);
	transition: background-color 0.1s ease;
	-webkit-transition: background-color 0.1s ease;
}

table > tbody > tr:nth-of-type(2n+1) {
	background-color: rgba(238,238,238,0.7);
}

.table > tbody > tr:hover {
	background-color: #e3e3e3;
}

.xsmall-column {
	width: 75px;
	max-width: 75px;
}

.small-column {
	width: 100px;
	max-width: 100px;
}

.med-column {
	width: 300px;
	max-width: 300px;
}

.item-number {
	margin-top: 6px;
	font-weight: bold;
}

.item-name {
	margin-left: 40px;
	margin-top: 4px;
	font-size: 1.2em;
}

.card-core {
	position: relative;
	height: 30px;
	width: 30px;
}

.card-left {
	position: absolute;
	left: -3px;
	top: 10px;
}

.card-right {
	position: absolute;
	right: -6px;
	top: 10px;
}

.card-down {
	position: absolute;
	bottom: -4px;
	left: 9px;
}

.card-up {
	position: absolute;
	top: -1px;
	left: 9px;
}

.card-rarity {
	position: absolute;
	left: 44px;
	top: 2px;
}

.card-tribe {
	position: absolute;
	left: 78px;
	top: 8px;
}

.reflection-box {
	float: left;
	position: relative;
	display: block;
	top: -1px;
}

.reflection-box img {
	height: 30px;
	width: 30px;
	top: 0px;
	left: 0px;
	margin: 2px 0 0 4px;
}

.reflection-frame {
	width: 36px;
	height: 36px;
	background: url('../icons/system/reflection_frame.png') no-repeat;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
}

.track-obtained {
	color: #000000;
}

.track-not-obtained {
	color: #D0D0D0;
}

.lr-sticky-header {
    color: black;
    background: white;
    transition: all 0.6s;
}

.tooltip-inner {
	white-space: pre-line;
}

.check-not-done {
	color: #000000;
}

.check-done {
	color: #00FF00;
}

.st-sort-ascent:before{
	content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

.row {
	margin: 0px;
}

.row-menu {
	margin-bottom: 4px;
}

.inactive-source {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

#filterpane {
	padding-bottom: 4px;
}